<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ishananuranga.smarthapannu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".CreateAccountActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaperListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaperActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".ExamModeActivity" />
        <activity
            android:name=".DisclaimerNoticeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".ExpirationNoticeActivity" />
        <activity android:name=".MoreDetailsActivity"></activity>
    </application>

</manifest>